@extends('layouts.master')

@section('content')



<div class="width-f pl home-design posr">

    @include('shared.nav')
<div class="width-f pl hgt100p home-carousel-bg">
        <div id="carouselExampleControls" class="carousel slide hgt100p" data-ride="carousel"
{{--data-interval="2000000"--}}
>
<div class="carousel-inner hgt100p ">
<div class="carousel-item hgt100p active">
<div class="container cont-resp hgt100p ">

<div class="width-f pl flex-row flex-align-space-between flex-vertical-end flex-resp hgt100p">
<div class="flex-nogrow carousel-img-max">
        <img src="{{ asset('cdn/images/chris-brown-1-1.png') }}" alt="">
</div>
<div class="flex-nogrow carousel-img-max hide-md">
        <img src="{{ asset('cdn/images/fena-1-2.png') }}" alt="">
</div>
</div>
</div>
</div>
<div class="carousel-item hgt100p">
<div class="container cont-resp hgt100p ">

<div class="width-f pl flex-row flex-align-space-between flex-vertical-end flex-resp hgt100p">
<div class="flex-nogrow carousel-img-max hide-md">
        <img src="{{ asset('cdn/images/calvin-harris-1-1.png') }}" alt="">
</div>
<div class="flex-nogrow carousel-img-max">
        <img src="{{ asset('cdn/images/davido-1-1.png') }}" alt="">
</div>
</div>
</div>
</div>
<div class="carousel-item hgt100p">
<div class="container cont-resp hgt100p ">

<div class="width-f pl flex-row flex-align-space-between flex-vertical-end flex-resp hgt100p">
<div class="flex-nogrow carousel-img-max">
        <img src="{{ asset('cdn/images/mariah-carey-1-2.png') }}" alt="">
</div>
{{--<div class="flex-nogrow carousel-img-max">--}}
                                    {{--<img src="{{ asset('cdn/images/kingkaka-1-2.png') }}" alt="">--}}
                                {{--</div>--}}
<div class="flex-nogrow carousel-img-max hide-md">
        <img src="{{ asset('cdn/images/dj-khaled-1-2.png') }}" alt="">
</div>
</div>
</div>
</div>
{{--<div class="carousel-item hgt100p">--}}
                        {{--<div class="container cont-resp hgt100p ">--}}

                            {{--<div class="width-f pl flex-row flex-align-space-between flex-vertical-end flex-resp hgt100p">--}}
                                {{--<div class="flex-nogrow carousel-img-max hide-md">--}}
                                    {{--<img src="{{ asset('cdn/images/anto-1-2.png') }}" alt="">--}}
                                {{--</div>--}}
                                {{----}}
                            {{--</div>--}}
                        {{--</div>--}}
                    {{--</div>--}}
<div class="carousel-item hgt100p">
<div class="container cont-resp hgt100p ">

<div class="width-f pl flex-row flex-align-space-between flex-vertical-end flex-resp hgt100p">
{{--<div class="flex-nogrow carousel-img-max">--}}
                                    {{--<img src="{{ asset('cdn/images/willypaul-1-2.png') }}" alt="">--}}
                                {{--</div>--}}
<div class="flex-nogrow carousel-img-max ">
        <img src="{{ asset('cdn/images/alicia-keys-1-1.png') }}" alt="">
</div>
</div>
</div>
</div>
</div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</div>

</div>

<div class="width-f pl bg-cr1 smooth-scroll" id="scroll">
<div class="container">
<div class="section ">

<div class="width-f pl flex-row flex-align-space-between flex-vertical-center">
<div class="flex-nogrow posr zi10">
{{--<img src="{{ asset('cdn/images/alikiba-1-1.png') }}" alt="" class="mg50tm mg50bm width-f">--}}
<img src="{{ asset('cdn/images/davido-1-1.png') }}" alt="" class="mg50tm width-f pl">
</div>
    <div class="flex-nogrow width400 mg30tb">
        <div class="flex-column flex-align-start flex-vertical-center">
            <div class="flex-nogrow">
                <h1 class="custom-roboto-header1 mg0tb ln-reset crff font300 roboto-bold">
                    OVER
                </h1>
            </div>
            <div class="flex-nogrow">
                <h1 class="custom-roboto-header1 mg0tb ln-reset crff font800 roboto-probold mg30tm mg30bm">
                    2.5
                </h1>
            </div>
            <div class="flex-nogrow">
                <h1 class="custom-roboto-header1 mg0tb ln-reset crff font300 roboto-bold mg5tm mg5bm">
                    million
                </h1>
            </div>
            <div class="flex-nogrow">
                <h1 class="custom-roboto-header1 mg0tb ln-reset crff font300 roboto-bold mg5tm mg5bm">
                    tracks
                </h1>
            </div>
            <div class="flex-nogrow mg20tb hide-xs">
                <h3 class="custom-roboto-header3 mg0tb ln-reset crff ">
                    Discover over 2 million
                </h3>
                <h3 class="custom-roboto-header3 mg0tb ln-reset crff ">
                    local and international
                </h3>
                <h3 class="custom-roboto-header3 mg0tb ln-reset crff ">
                    hit tracks and albums
                </h3>
            </div>
        </div>
    </div>
</div>
    <div class="width-f pl show-xs pg20b">
        <h3 class="custom-roboto-header3 mg0tb ln-reset crff textc ">
            Discover over 2 million
        </h3>
        <h3 class="custom-roboto-header3 mg0tb ln-reset crff textc ">
            local and international
        </h3>
        <h3 class="custom-roboto-header3 mg0tb ln-reset crff textc ">
            hit tracks and albums
        </h3>
    </div>

</div>
</div>
</div>

<div class="width-f pl bgff">
<div class="container ovh">
<div class="section pg30tb ovv">

<div class="width-f pl flex-row flex-row-resp flex-align-center flex-vertical-center">
    <div class="flex-auto hgt700 hide-xs">
        <div class="width-f pl flex-row flex-align-space-between flex-vertical-start flex-wrap hgt100p">
            <div class="flex-auto width50 hgt50p pg5lr">
                <div class="flex-column flex-align-center flex-vertical-center hgt100p">
                    <div class="flex-nogrow">
                        <i class="icon icon-stream fa-50x ln-1"></i>
                    </div>
                    <div class="flex-nogrow">
                        <h3 class="mg0tb custom-roboto-header2">
                            Stream
                        </h3>
                    </div>
                    <div class="flex-nogrow">
                        <p class="textc pg5lr">
                            Get access to millions of local and international music. Stream it via
                            2G/3G/4G,
                            on your home, office or public wifiand download anything you want on to your
                            phone.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex-auto width50 hgt50p pg5lr">
                <div class="flex-column flex-align-center flex-vertical-center hgt100p">
                    <div class="flex-nogrow">
                        <i class="icon icon-download fa-50x ln-1"></i>
                    </div>
                    <div class="flex-nogrow">
                        <h3 class="mg0tb custom-roboto-header2">
                            Download
                        </h3>
                    </div>
                    <div class="flex-nogrow">
                        <p class="textc pg5lr">
                            Search for millions of songs by title or artist or album name and play your
                            song
                            instantly. Enjoy access to music tailored to you plus see the latest music,
                            charts and playlists.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex-auto width50 hgt50p pg5lr">
                <div class="flex-column flex-align-center flex-vertical-center hgt100p">
                    <div class="flex-nogrow">
                        <i class="icon icon-wifi-off fa-50x ln-1"></i>
                    </div>
                    <div class="flex-nogrow">
                        <h3 class="mg0tb custom-roboto-header2">
                            Play Offline
                        </h3>
                    </div>
                    <div class="flex-nogrow">
                        <p class="textc pg5lr">
                            Have the ability to stream music on your device without an active data
                            connection.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex-auto width50 hgt50p pg5lr">
                <div class="flex-column flex-align-center flex-vertical-center hgt100p">
                    <div class="flex-nogrow">
                        <i class="icon icon-playlist fa-50x ln-1"></i>
                    </div>
                    <div class="flex-nogrow">
                        <h3 class="mg0tb custom-roboto-header2">
                            Playlist
                        </h3>
                    </div>
                    <div class="flex-nogrow">
                        <p class="textc pg5lr">
                            Create and save multiple playlists made from songs you are streaming or have
                            downloaded from songa or even old songs already on your phone to create
                            unique
                            playlists.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-auto show-xs pg20tb">
        <div class="width-f pl flex-column flex-align-center flex-vertical-start ">
            <div class="flex-auto width-f pg5lr pg10tb">
                <div class="flex-column flex-align-center flex-vertical-center hgt100p">
                    <div class="flex-nogrow">
                        <i class="icon icon-stream fa-50x ln-1"></i>
                    </div>
                    <div class="flex-nogrow">
                        <h3 class="mg0tb custom-roboto-header2">
                            Stream
                        </h3>
                    </div>
                    <div class="flex-nogrow">
                        <p class="textc pg5lr">
                            Get access to millions of local and international music. Stream it via
                            2G/3G/4G,
                            on your home, office or public wifiand download anything you want on to your
                            phone.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex-auto width-f pg5lr pg10tb">
                <div class="flex-column flex-align-center flex-vertical-center hgt100p">
                    <div class="flex-nogrow">
                        <i class="icon icon-download fa-50x ln-1"></i>
                    </div>
                    <div class="flex-nogrow">
                        <h3 class="mg0tb custom-roboto-header2">
                            Download
                        </h3>
                    </div>
                    <div class="flex-nogrow">
                        <p class="textc pg5lr">
                            Search for millions of songs by title or artist or album name and play your
                            song
                            instantly. Enjoy access to music tailored to you plus see the latest music,
                            charts and playlists.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex-auto width-f pg5lr pg10tb">
                <div class="flex-column flex-align-center flex-vertical-center hgt100p">
                    <div class="flex-nogrow">
                        <i class="icon icon-wifi-off fa-50x ln-1"></i>
                    </div>
                    <div class="flex-nogrow">
                        <h3 class="mg0tb custom-roboto-header2">
                            Play Offline
                        </h3>
                    </div>
                    <div class="flex-nogrow">
                        <p class="textc pg5lr">
                            Have the ability to stream music on your device without an active data
                            connection.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex-auto width-f pg5lr pg10tb">
                <div class="flex-column flex-align-center flex-vertical-center hgt100p">
                    <div class="flex-nogrow">
                        <i class="icon icon-playlist fa-50x ln-1"></i>
                    </div>
                    <div class="flex-nogrow">
                        <h3 class="mg0tb custom-roboto-header2">
                            Playlist
                        </h3>
                    </div>
                    <div class="flex-nogrow">
                        <p class="textc pg5lr">
                            Create and save multiple playlists made from songs you are streaming or have
                            downloaded from songa or even old songs already on your phone to create
                            unique
                            playlists.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="flex-nogrow width500 hide-xs">
<div class="width-f pl ">
<div id="slider5" class="home-carousel ovv width-f">
    <!--<a class="buttons prev" href="#">Up</a>-->
<div class="viewport hgt100p width-f">
<div class="width-f pl hgt100p flex-row flex-align-center flex-vertical-center carousel-item-img-wrapper">
<div class="carousel-item-mimick-wrapper">
        <img class="img width-f" src="{{ asset('cdn/images/Glare-1.png') }}" alt="">
</div>
</div>
<div class="width-f pl home-carousel-inner-wrapper posa top0 left0 ovh">
<ul class="overview mg0a">
<li class="home-carousel-inner carousel-custom-item width-f pl">
<div class="width-f pl hgti">

<div class="width-f pl flex-row flex-align-space-between flex-vertical-center hgti">
<div class="carousel-item-img-wrapper">
        <img class="img"
        src="{{ asset('cdn/images/songacarousel-5-1.png') }}"
             alt=" Unlimited streaming">
</div>

</div>

</div>
</li>
<li class="home-carousel-inner carousel-custom-item width-f pl">
<div class="width-f pl hgti">

<div class="width-f pl flex-row flex-align-space-between flex-vertical-center hgti">
<div class="carousel-item-img-wrapper">
        <img class="img"
        src="{{ asset('cdn/images/songacarousel-1-1.png') }}"
             alt="Discover">
</div>

</div>

</div>
</li>
<li class="home-carousel-inner carousel-custom-item width-f pl">
<div class="width-f pl hgti">

<div class="width-f pl flex-row flex-align-space-between flex-vertical-center hgti">
<div class="carousel-item-img-wrapper">
        <img class="img "
        src="{{ asset('cdn/images/songacarousel-2-1.png') }}"
             alt="">
</div>

</div>

</div>
</li>

<li class="home-carousel-inner carousel-custom-item width-f pl">
<div class="width-f pl hgti">

<div class="width-f pl flex-row flex-align-space-between flex-vertical-center hgti">
<div class="carousel-item-img-wrapper">
        <img class="img"
        src="{{ asset('cdn/images/songacarousel-3-1.png') }}"
             alt="Own Playlists">
</div>

</div>

</div>
</li>
<li class="home-carousel-inner carousel-custom-item width-f pl">
<div class="width-f pl hgti">

<div class="width-f pl flex-row flex-align-space-between flex-vertical-center hgti">
<div class="carousel-item-img-wrapper">
        <img class="img "
        src="{{ asset('cdn/images/songacarousel-4.png') }}"
             alt="Radio and podcasts">
</div>

</div>

</div>
</li>
<li class="home-carousel-inner carousel-custom-item width-f pl">
<div class="width-f pl hgti">

<div class="width-f pl flex-row flex-align-space-between flex-vertical-center hgti">
<div class="carousel-item-img-wrapper">
        <img class="img"
        src="{{ asset('cdn/images/songacarousel-6.png') }}"
             alt="share">
</div>

</div>

</div>
</li>
</ul>
</div>

</div>
    <!--<a class="buttons next" href="#">Down</a>-->
    <ul class="bullets indicators hide-sm-imp">
        <li><a href="#" class="bullet active" data-slide="0"></a></li>
        <li><a href="#" class="bullet" data-slide="1"></a></li>
        <li><a href="#" class="bullet" data-slide="2"></a></li>
        <li><a href="#" class="bullet" data-slide="3"></a></li>
        <li><a href="#" class="bullet" data-slide="4"></a></li>
        <li><a href="#" class="bullet" data-slide="5"></a></li>
    </ul>
</div>

</div>
</div>
</div>

</div>
</div>
</div>


<div class="width-f pl subscription-plans-parent">
<div class="container ovh ">
<div class="section">
    <div class="width-f pl">
        <h1 class="textc cr-cr2 mg30tb custom-roboto-header2 roboto-semibold crdd">
            Subscription Plans
        </h1>
    </div>
    <div class="width-f pl flex-row flex-align-space-between flex-vertical-center subscription-plans flex-wrap bor2 borb borcff pg50b mg50b">
        <div class="width30 flex-nogrow pg10a subscription-plans-content md-width-100 ">
            <div class="width-f pl pg10lr pg40tb bor1 bora borcdd bgff br2">
                <div class="width-f pl textc mg15tb">
                        <span class="upp custom-roboto-header8 roboto-semibold let-sp-2">
                            Daily
                        </span>
                </div>
                <div class="width-f pl textc mg15tb">
                        <span class="upp custom-roboto-header1 cr-cr1 roboto-probold">
                            kes 25
                        </span>
                </div>
                <div class="width-f pl textc mg15tb pg15lr">
                    <p class="roboto-norm">
                        Unlimited access and streaming of the full library. Unlimited access and streaming
                        of
                        the full library.

                    </p>
                </div>
                <!--<div class="width-f pl textc mg25tb pg15lr">-->
                <!--<a href="#" class="btn-large waves-effect waves-light subscription-plans-button ">get it-->
                <!--now</a>-->
                <!--</div>-->
            </div>
        </div>
        <div class="width30 flex-nogrow pg10a subscription-plans-content md-width-100 ">
            <div class="width-f pl pg10lr pg40tb bor1 bora borcdd bgff br2">
                <div class="width-f pl textc mg15tb">
                        <span class="upp custom-roboto-header8 roboto-semibold let-sp-2">
                            Weekly
                        </span>
                </div>
                <div class="width-f pl textc mg15tb">
                        <span class="upp custom-roboto-header1 cr-cr1 roboto-probold">
                            kes 150
                        </span>
                </div>
                <div class="width-f pl textc mg15tb pg15lr">
                    <p class="roboto-norm">
                        Unlimited access and streaming of the full library
                        -17% discount on the subscription plan.
                    </p>
                </div>
                <!--<div class="width-f pl textc mg25tb pg15lr">-->
                <!--<a href="#" class="btn-large waves-effect waves-light subscription-plans-button ">get it-->
                <!--now</a>-->
                <!--</div>-->
            </div>
        </div>
        <div class="width30 flex-nogrow pg10a subscription-plans-content md-width-100 ">
            <div class="width-f pl pg10lr pg40tb bor1 bora borcdd bgff br2">
                <div class="width-f pl textc mg15tb">
                        <span class="upp custom-roboto-header8 roboto-semibold let-sp-2">
                            Monthly
                        </span>
                </div>
                <div class="width-f pl textc mg15tb">
                        <span class="upp custom-roboto-header1 cr-cr1 roboto-probold">
                            kes 499
                        </span>
                </div>
                <div class="width-f pl textc mg15tb pg15lr">
                    <p class="roboto-norm">
                        Unlimited access and streaming of the full library
                        -22% discount on the subscription plan.
                    </p>
                </div>
                <!--<div class="width-f pl textc mg25tb pg15lr">-->
                <!--<a href="#" class="btn-large waves-effect waves-light subscription-plans-button ">get it-->
                <!--now</a>-->
                <!--</div>-->
            </div>
        </div>

    </div>
<div class="width-f pl flex-column flex-align-center flex-vertical-center">
    <div class="flex-nogrow">
        <h2 class="custom-roboto-header2 roboto-semibold crff mg0tb ">
            14 Days Free Trial!
        </h2>
    </div>
<div class="flex-nogrow pg30tb">
        <a href="{{ env('PLAY_STORE_LINK') }}"
        class="btn btn-primary bg-cr1 pg10tb pg30lr  bor0 custom-roboto-header4 crff ">
    Start Today!
</a>
</div>
</div>

</div>
</div>
</div>

<div class="width-f pl">
<div class="container ovh ">
<div class="section">
    <div class="width-f pl">
        <h1 class="textc cr-cr2 mg30tb custom-roboto-header2 roboto-semibold">
            How Tos
        </h1>
    </div>
{{--<div class="width-f pl flex-row flex-align-space-between flex-vertical-start mg50b">--}}
                {{--<div class="width-f flex-auto md-width-100 ">--}}
                {{--<div class="embed-responsive embed-responsive-16by9 custom-iframe">--}}
                {{--<iframe id="embedresponsiveitem" class="embed-responsive-item"--}}
                {{--src="https://www.youtube.com/embed?listType=playlist&list=PLREU1fcNKf3F7bUT4vxqtJK75W9civXx_"--}}
                {{--frameborder="0" allow="encrypted-media" allowfullscreen></iframe>--}}
                {{--</div>--}}
                {{--</div>--}}

                {{--</div>--}}
    <div class="width-f pl flex-row flex-align-space-between flex-vertical-start mg50b">
        <div class="width-f flex-auto md-width-100 row">
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="nav flex-column nav-pills custom-nav-pills" id="v-pills-tab" role="tablist"
                     aria-orientation="vertical">
                    <a class="nav-link mg10tb active pg0a" id="v-pills-video1-tab" data-toggle="pill"
                       href="#v-pills-video1"
                       role="tab" aria-controls="v-pills-video1" aria-selected="true">
                        <div class="width-f pl">
                            <div class="width80x pl pg3a">
                                <img class="pl width-f"
                                     src="https://i.ytimg.com/vi/NprOLKy2x1c/2.jpg?time=1519202098260"
                                     alt="">
                            </div>
                            <div class="width_auto ovh pg10lr custom-color hgt60">
                                <div class="width-f pl hgt100p flex-row flex-align-start flex-vertical-center">
                                    <div class="flex-auto">
                                        <h6 class="custom-roboto-header8 roboto-bold  mg0a pg0a ln-reset">
                                            TO CREATE A PLAYLIST ON SONGA
                                        </h6>
                                        <span class="cr66 custom-roboto-header8">
                                                by Songamusic
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </a>
                    <a class="nav-link mg10tb pg0a" id="v-pills-video2-tab" data-toggle="pill"
                       href="#v-pills-video2"
                       role="tab" aria-controls="v-pills-video2" aria-selected="false">

                        <div class="width-f pl">
                            <div class="width80x pl pg3a">
                                <img class="pl width-f"
                                     src="https://i.ytimg.com/vi/oNVEY-8iMHY/2.jpg?time=1519202990274"
                                     alt="">
                            </div>
                            <div class="width_auto ovh pg10lr custom-color hgt60">
                                <div class="width-f pl hgt100p flex-row flex-align-start flex-vertical-center">
                                    <div class="flex-auto">
                                        <h6 class="custom-roboto-header8 roboto-bold  mg0a pg0a ln-reset">
                                            HOW TO LISTEN TO LOCAL TRACKS ON SONGA
                                        </h6>
                                        <span class="cr66 custom-roboto-header8">
                                                by Songamusic
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </a>
                    <a class="nav-link mg10tb pg0a" id="v-pills-video3-tab" data-toggle="pill"
                       href="#v-pills-video3"
                       role="tab" aria-controls="v-pills-video3" aria-selected="false">

                        <div class="width-f pl">
                            <div class="width80x pl pg3a">
                                <img class="pl width-f"
                                     src="https://i.ytimg.com/vi/rSreJgmOhY8/2.jpg?time=1519203045209"
                                     alt="">
                            </div>
                            <div class="width_auto ovh pg10lr custom-color hgt60">
                                <div class="width-f pl hgt100p flex-row flex-align-start flex-vertical-center">
                                    <div class="flex-auto">
                                        <h6 class="custom-roboto-header8 roboto-bold  mg0a pg0a ln-reset">
                                            HOW TO START A STATION ON SONGA
                                        </h6>
                                        <span class="cr66 custom-roboto-header8">
                                                by Songamusic
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </a>
                    <a class="nav-link mg10tb pg0a" id="v-pills-video4-tab" data-toggle="pill"
                       href="#v-pills-video4"
                       role="tab" aria-controls="v-pills-video4" aria-selected="false">

                        <div class="width-f pl">
                            <div class="width80x pl pg3a">
                                <img class="pl width-f"
                                     src="https://i.ytimg.com/vi/qGSQiptaHWM/2.jpg?time=1519203103865"
                                     alt="">
                            </div>
                            <div class="width_auto ovh pg10lr custom-color hgt60">
                                <div class="width-f pl hgt100p flex-row flex-align-start flex-vertical-center">
                                    <div class="flex-auto">
                                        <h6 class="custom-roboto-header8 roboto-bold  mg0a pg0a ln-reset">
                                            HOW TO LISTEN TO RADIO ON SONGA
                                        </h6>
                                        <span class="cr66 custom-roboto-header8">
                                                by Songamusic
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </a>
                    <a class="nav-link mg10tb pg0a" id="v-pills-video5-tab" data-toggle="pill"
                       href="#v-pills-video5"
                       role="tab" aria-controls="v-pills-video5" aria-selected="false">

                        <div class="width-f pl">
                            <div class="width80x pl pg3a">
                                <img class="pl width-f"
                                     src="https://i.ytimg.com/vi/_o_MDOXDnjk/2.jpg?time=1519203235319"
                                     alt="">
                            </div>
                            <div class="width_auto ovh pg10lr custom-color hgt60">
                                <div class="width-f pl hgt100p flex-row flex-align-start flex-vertical-center">
                                    <div class="flex-auto">
                                        <h6 class="custom-roboto-header8 roboto-bold  mg0a pg0a ln-reset">
                                            HOW TO SEARCH ARTIST OR SONG ON SONGA
                                        </h6>
                                        <span class="cr66 custom-roboto-header8">
                                                by Songamusic
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </a>
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-xs-12">
                <div class="tab-content width-f pl" id="v-pills-tabContent">
                    <div class="tab-pane fade width-f pl show active" id="v-pills-video1" role="tabpanel"
                         aria-labelledby="v-pills-video1-tab">
                        <iframe class="width-f pl " height="500"
                                src="https://www.youtube.com/embed/NprOLKy2x1c?rel=0" frameborder="0"
                                allow="encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="tab-pane fade width-f pl" id="v-pills-video2" role="tabpanel"
                         aria-labelledby="v-pills-video2-tab">
                        <iframe class="width-f pl " height="500"
                                src="https://www.youtube.com/embed/oNVEY-8iMHY?rel=0" frameborder="0"
                                allow="encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="tab-pane fade width-f pl" id="v-pills-video3" role="tabpanel"
                         aria-labelledby="v-pills-video3-tab">
                        <iframe class="width-f pl " height="500"
                                src="https://www.youtube.com/embed/rSreJgmOhY8?rel=0" frameborder="0"
                                allow="encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="tab-pane fade width-f pl" id="v-pills-video4" role="tabpanel"
                         aria-labelledby="v-pills-video4-tab">
                        <iframe class="width-f pl " height="500"
                                src="https://www.youtube.com/embed/qGSQiptaHWM?rel=0" frameborder="0"
                                allow="encrypted-media" allowfullscreen></iframe>
                    </div>
                    <div class="tab-pane fade width-f pl" id="v-pills-video5" role="tabpanel"
                         aria-labelledby="v-pills-video5-tab">
                        <iframe class="width-f pl " height="500"
                                src="https://www.youtube.com/embed/_o_MDOXDnjk?rel=0" frameborder="0"
                                allow="encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
</div>
</div>


@include('shared.footer')

@endsection